.pageNotFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgNotFound{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}