.rent-container {
    display: grid;
    grid-template-columns: 4fr 5fr;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 30px;
    padding: 0;
    height: 580px;
}

.rent-product-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.rent-product-header {
    text-align: center;
}

.rent-price {
    font-size: 35px;
    margin-top: 100px;
    color: #5D983A;
    text-align: center;
}

/*  */

.rent-payment-info {
    background-color: #363636;
    padding: 30px;
}

.form-label {
    color: white;
}

.input-buttons {
    margin-top: 30px;
}

.rent-field {
    margin: 10px 0;
}

@media (max-width: 769px) {
    .rent-container {
        grid-template-columns: 1fr;
    }
    .rent-price {
        font-size: 35px;
        margin: 50px 0;
        color: #5D983A;
        text-align: center;
    }
}