body {
  font-family: 'Fira Sans', sans-serif;
}

.Nav-Link {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.Nav-Link:hover {
  color: #5D983A;
}

.Button-Div {
  text-align: center;
  margin: 20px 0;
}

.Button {
  border: 1px solid #5D983A;
  background-color: #5D983A;
  color: white;
  width: 300px;
  height: 50px;
  transition: 200ms ease-in-out;
}

.Button:hover {
  background-color: white;
  color: black;
}

.formButton {
  width: 100%;
  margin: auto  ;
} 

.add-container {
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 30px;
}

@media (max-width: 435px) {
  .formButton {
    width: 200px;
  } 
}
