.Nav-Link {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.Nav-Link:hover {
  color: black;
}

.Button-Div {
  text-align: center;
  margin: 20px 0;
}

.Button {
  border: 1px solid #363636;
  background-color: #363636;
  color: white;
  width: 300px;
  height: 50px;
  transition: 200ms ease-in-out;
}

.Button:hover {
  background-color: white;
  color: black;
}